body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #000000;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

h1{
    color: #f4f4f4;
}
p{
    color: #f4f4f4;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px 0;
    display: block;
    transition: color 0.3s, background-color 0.3s;
}

nav ul li a:hover {
    color: #333;
    background-color: white;
    border-radius: 5px;
}

section {
    padding: 100px 20px;
    height: 100vh;
}

#home {
    background-color: #000000;
}

#about {
    background-color: #1d1b1b;
}

#services {
    background-color: #000000;
}

#contact {
    background-color: #1b1a1a;
}

.scrolled {
    background-color: #555 !important;
}
